td.question-board-cell {
    cursor: pointer;
    width: 100px;
    height: 150px;
    text-align: center;
    padding: 10px;
    vertical-align: middle;
    background-color: var(--primary-color);
    border-radius: 2px;
    color: var(--font-color);
    border: 3px solid white;

    transition: 0.5s transform;
}

td.question-board-cell:hover {
    transform: scale(97%);
}

td.question-board-cell.is-revealed {
    background-color: var(--secondary-color);
}

/* td.question-board-cell.level-2 {
    background-color: var(--level-2-color);

}

td.question-board-cell.level-3 {
    background-color: var(--level-3-color);

}

td.question-board-cell.level-4 {
    background-color: var(--level-4-color);
} */