.question-board-title {
    text-align: center;
    font-size: 3rem;
    margin: 0 auto;
    color: white;
    background-color: var(--secondary-color);
    max-width: 1200px;
    border: 3px solid white;
}

table {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    font-size: 2rem;

    border-collapse: collapse;
}

table th {
    z-index: 10;
    position: sticky;
    top: 0;
    color: white;
    background-color: var(--secondary-color);
}

.question-card {
    background-color: transparent;
    perspective: 1000px;
    width: 1200px;
    height: 500px;

    margin: 0 auto;
    font-size: 3rem;
}

.question-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border: 3px solid white;

}

.question-card.flipped .question-card-inner {
    transform: rotateX(180deg);
}

.question-card-front, .question-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1em;
}

.question-card-front h6, .question-card-back h6 {
    margin: 0;
}

.question-card-front {
    background-color: var(--primary-color);
}

.question-card-back {
    background-color: var(--secondary-color);
    transform: rotateX(180deg);
}

.question-card-content {
    flex: 1;
    margin: 0;
    font-size: 4rem;
    text-align: center;
}