td.question-board-cell {
    cursor: pointer;
    width: 100px;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    background-color: var(--primary-color);
    border-radius: 2px;
    color: white;
    border: 3px solid white;

    transition: 0.5s transform;
}

td.question-board-cell:hover {
    transform: scale(97%);
}

td.question-board-cell.is-revealed {
    background-color: var(--secondary-color);
}