@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

:root {
  --primary-color: #0aa9e7;
  --secondary-color: #424242;
  --background-color: #fbfbfb;
  --font-color: white;

  --max-width: 900px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Oswald', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-color);
}



* {
  box-sizing: border-box;
}