@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

:root {
  --primary-color: #0aa9e7;
  --level-2-color: #0aa9e7;
  --level-3-color: #0aa9e7;
  --level-4-color: #0aa9e7;

  --secondary-color: #424242;
  --background-color: #fbfbfb;
  --font-color: white;

  --max-width: 900px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Oswald', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-color: var(--background-color); */
  background: radial-gradient(circle, rgba(221,221,221,1) 0%, rgba(255,255,255,1) 100%); 
}



* {
  box-sizing: border-box;
}